# Virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Environment variables / passwords
.env
.env.local

# SQLite database files - not used because project uses PostgreSQL
db.sqlite3
*.sqlite3

# Backup files
*.backup
requirements_broken_backup.txt
